---
layout: default
---
<div class="container">
	<div class="title">
		<h1>[E]ACH</h1>
		<h2>inTheShell_</h2>
	</div>
	<p>
		O grupo de estudos de InfoSec da <a href="https://each.usp.br/" target="_blank">EACH-USP&#x2197;</a>, composto por alunes de <a href="https://each.usp.br/si/" target="_blank">Sistemas de informação&#x2197;</a>.
	</p>
	<p>
		Nosso objetivo como um grupo é ser a porta de entrada para o mundo de segurança da informação; dos hackers.
	</p>
</div>

