---
layout: enciclopedia
title: Linux
type: categoria
---

<div class='container'>
	<p>Sistemas operacionais que utilizam o kernel Linux; baseado em Unix. O mais utilizado por servidores na rede. Também tem sua presença no cenário de sistemas operacionais pessoais.</p>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li>bash</li>
	</ul>
</div>

