---
layout: enciclopedia
title: Sherlock
type: ferramenta (linux, mac, windows)
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p><code>sherlock</code> é uma ferramenta de <a href='/osint'>OSINT</a> que
	busca por contas com os nomes de usuário que você fornece. No final, é criado
	um arquivo para cada usuário listando todos os sites em que aparenta ter uma
	conta com o nome.</p>
</div>
<h4 class='subtitle' id='uso'>Uso:</h4>
<div class='container'>
	<p><code>sherlock [opções] &lt;nome de usuário&gt; [nome de
	usuário]..</code></p>
	<p></p>
	<h4 class='subtitle' id='opcoes'>Opções:</h4>
	<ul>
		<li>
			<b>--print-found</b>: <p>mostra somente os sites que encontraram contas
			com o nome de usuário</p>
		</li>
		<li>
			<b>-t/--tor</b>: <p>passa todo o tráfico dessas requisições pela rede tor</p>
		</li>
		<li>
			<b>-u/--unique-tor</b>: <p>passa os tráficos pela rede tor, mas cria uma
			nova cadeia na rede a cada requisição</p>
		</li>
		<li>
			<b>-fo/--folderoutput &lt;diretório&gt;</b>: <p>diretório em que será
			colocados todos os arquivos de resultado do scan (caso haja mais de um
			nome de usuário)</p>
		</li>
		<li>
			<b>-o/--output &lt;arquivo&gt;</b>: <p>nome do arquivo onde será guardado
			o resultado (caso haja somente um nome de usuário)</p>
		</li>
	</ul>
</div>
<h4 class='subtitle' id='exemplos'>Exemplos:</h4>
<div class='container'>
	<p>Procurar pelos usuários intheshell, eachintheshell e eits</p>
	<code class='tab block'>sherlock intheshell eachintheshell eits</code>
	<p>A mesma pesquisa, mas agora só mostrando os resultados que deram positivo</p>
	<code class='tab block'>sherlock --print-found intheshell eachintheshell eits</code>
</div>

