---
layout: default
---

<div class="container">
	<h1><a href=''>Enciclopédia</a></h1>
</div>
<div class="container">
	<h2>Bem vindes à base de conhecimento do EitS!</h2>
</div>
<div class="container">
	<p>Aqui você encontra paginas sobre diferentes ferramentas e técnicas, assim como <a href='/writeups'>write-ups</a> e vários outros recursos úteis para começar a hackear, melhorar suas habilidades ou só dar aquela relembrada.</p>
</div>
<div class="container">
	<p>A divisão principal dessa enciclopédia é por categoria. Essas são:</p>
	<ul>
		<li><a href="geral">Geral/Básico</a></li>
		<li><a href="forense">Computação forense</a></li>
		<li><a href="cripto">Criptografia</a></li>
		<li><a href="defesa">Defesa/Blue team</a></li>
		<li><a href="engrev">Engenharia reversa</a></li>
		<li><a href="engsoc">Engenharia social</a></li>
		<li><a href="expbin">Exploração de binários</a></li>
		<li><a href="hardware">Hardware hacking</a></li>
		<li><a href="linux">Linux</a></li>
		<li><a href="osint">OSInt</a></li>
		<li><a href="rede">Redes</a></li>
		<li><a href="script">Scripting</a></li>
		<li><a href="web">Web</a></li>
		<li><a href="windows">Windows</a></li>
	</ul>
</div>

