---
layout: enciclopedia
title: Criptografia
type: categoria
---

<div class='container'>
	<p>Proteger dados públicos com o objetivo de aumentar a segurança, confirmar identidade ou impedir espionagem ou adultério de dados.</p>
	<p>Um princípio famoso do Kerckhoffs que define um sistema de criptográfico é:</p>
	<p class='tab block'> "Um sistema criptográfico deve ser seguro mesmo que tudo sobre o sistema, exceto a chave, seja de conhecimento público."</p>
</div>
<h3 class='subtitle'>Criptoanálise</h3>
<p>Diferente da criptografia a criptoanálise tem como objetivo de decifrar o código usado sem ter acesso as informações da chave-secreta usada.</p>
<h4 class='subtitle'>Alguns ramos dos ataques da criptoanálise são:</h4>
<h5 class='subtitle'>Criptoanálise clássica:</h5>
<div class='container'>
	<ul>
		<li>Ataque de força-bruta</li>
		<li>Ataque analítico</li>
	</ul>
</div>
<h5 class='subtitle'><a href='/wiki/engsoc/'>Engenharia social</a></h5>
<h5 class='subtitle'>Ataques de Implementação:</h5>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>Hash</li>
		<li>Cifra</li>
	</ul>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li><a href='hashcat'>hashcat</a></li>
		<li><a href='hashid'>hashid</a></li>
		<li><a href='john'>john</a></li>
	</ul>
</div>
<h4 class='subtitle'>Base matemática importante:</h4>
<div class='container'>
	<ul>
		<li><a>Teoria dos números</a></li>
		<li><a>Aritmética modular</a></li>
		<li><a>Algoritmo de Euclides</a></li>
		<li><a>Algoritmo de Euclides extendido</a></li>
		<li><a>Teorema chines do resto</a></li>
		<li><a>Pequeno teorema de Fermat</a></li>
		<li><a>Função totiente de Euler</a></li>
		<li><a>Teorema de Euler</a></li>
	</ul>
</div>
