---
layout: default
---

<div class='container'>
	<h1><a href=''>Writeups</a></h1>
</div>
<div class='container'>
	<p>Use write-ups com cuidado! Aprenda, não copie.</p>
</div>
<div class='container'>
	<p><a href=''>Write-ups</a> são resoluções de <a href='/wiki/geral/ctf'>CTFs</a> feitas por outras pessoas descrevendo como elas o resolveram. Essas resoluções envolvem o processo de pensamento da pessoa e as ferramentas e técnicas utilizadas.</p>
	<p>Sinta-se livre para dar uma olhada nos desafios, mas tente fazê-los primeiro, mas não se sinta proibido de olhar caso esteja passando por dificuldades; só prefira pedir ajuda a outros no canal do telegram ou discord antes. aprenda com ele e não copie.</p>
</div>

