---
layout: enciclopedia
title: hashcat (fbruta+máscara)
type: ferramenta (linux, mac, windows)
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p>Para fazer um ataque de força bruta é necessario especificar quais vão ser os caracteres testados em cada caractere da senha.</p>
	<p>Por exemplo testar todas as possibilidades em que os 4 primeiros dígitos são números e os 3 últimos caracteres são letras ficaria: "<code>?d?d?d?d?l?l?l</code>".</p>
	<p>Os <a href='https:/hashcat.net/wiki/doku.php?id=mask_attack'><i>charsets&#x2197;</i></a> (lista de caracteres) são uma lista com as letras/números/símbolos que serão usadas em cada parte do ataque de força bruta da senha.
	<p>No exemplo acima os pontos de interrogação indicam que um caractere vai ser substitupido e a letra "<code>d</code>" para representar a substituição por números de 0 até 9 e a letra "<code>l</code>" para a substituição por letras de a até z.</p>
</div>
<h4 class='subtitle' id='exemplos'>Exemplos:</h4>
<div class='container'>
	<p>Sabendo que o começo da senha é "<code>alberto</code>" e termina com 4 números:</p>
	<p><code class='tab block'>hashcat -a 3 hash.txt alberto?d?d?d?d</code></p>
	<p>Especificanado mais de um <i>charset</i>: (Sabendo que o começo da senha é "<code>lol</code>" ou "<code>dota</code>" e tem 4 letras depois)
	<p><code class='tab block'>hashcat -a 3 hash.txt -1 lol?l?l?l?l -2 dota?l?l?l?l</code></p>
	<p>Um dos problemas do hashcat é só poder usar um tamanho fixo para crackear a senha, por isso pode ser usado o "--increment" para tentar desde um caractere até o caractere atual.</p>
	<p><code class='tab block'>hashcat -a 3 hash.txt ?l?d?d?l?l --increment</code></p>
	<p>No exemplo acima ele vai testar: ?l, ?l?d, ?l?d?d, ?l?d?d?l e ?l?d?d?l?l</p>
</div>
<h4 class='subtitle' id='customizando'><b>Customizando seu próprio <i>charset</i></b></h4>
<div class='container'>
	<p>Para customizar seu próprio <i>charset</i> o hashcat libera 4 parametros que podem ser configurados pelo usuário</p>
	<p>Os parâmetros são "<code>--custom-charset1=charset</code>" onde o "<i>charset</i>" é substituído pelo <i>charset</i> desejado. Mas para a praticidade existe um comando mais curto "<code>-1</code>".</p>
	<p>Um ataque de força bruta apenas com as letras "<code>a</code>", "<code>b</code>" e "<code>c</code>" em um hash de 4 caracteres pode ser feito usando:</p>
	<p><code class='tab block'>hashcat -a 3 hash.txt -1 abc ?1?1?1?1</code></p>
	<p>É possível customizar seus próprios <i>charsets</i> e colocar eles em um arquivo ".hcchr" para passar eles como parâmetros</p>
	<p>Exemplo: (sendo "<code>charset.hcchr</code>" o arquivo com o <i>charset</i>)<p>
	<p><code class='tab block'>hashcat -a 3 hash.txt -2 arquivo.hcchr ?2?2?2?2</code></p>
</div>
<h4 class='subtitle' id='customizando'><b>Customizando seu próprio arquivo de máscara</b></h4>
<div class='container'>
	<p>O arquivo vai conter os três <i>charsets</i> separados por vírgulas e uma máscara</p>
	<p>Exemplo:</p>
	<p><code class='tab block'>asdf,zxcv,qwer,poiu, ?2?3?4?1?2?3</code><p>
	<p>O <i>charset</i> 1 vai ser: asdf. O <i>charset</i> 2 vai ser : zxcv. O <i>charset</i> 3 vai ser: qwer. E o <i>charset</i> 4 vai ser: poiu. E a máscara vai ser ?2?3?4?1?2?3.</p>
</div>
